* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Chocolate Classical Sans", "Rubik", sans-serif;
}
h1{
    color: rgb(107, 176, 176);
    font-size: 40px;
    text-align: center;
    margin: 50px 0;
}
header{
    background-color: rgb(107, 176, 176);
    width: 100% - padding;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 25px 25px;
    padding: 0 20px;
}

.header-left{
    width: 10%;
}
.header-left img{
    width: 100%;
}
.header-center{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-center ul{
    list-style-type: none;
    display: flex;
}
.header-center li a{
    width: 100px;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.header-center li a:hover{
    color: #6bb0b0;
    background-color: white;
}
.header-center li a i{
    font-size: 30px;
    padding: 5px;
}
.header-right{
    width: 10%;
    color: rgb(107, 176, 176);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-right p{
    font-size: 18px;
}
.header-right a{
    color: white;
    padding: 10px 15px;
    border: 1px #fff solid;
    border-radius: 15px;
}
.header-right a:hover{
    color: rgb(107, 176, 176);
    background-color: white;
}


.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    width: 70%;
    padding: 5px;
    margin: auto;
    margin-top: 20px;
    border-radius: 25px;
    border: 1px #6bb0b0 solid ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search:focus{
    border: #6bb0b0;
    box-shadow: #6bb0b0;
}
.search i{
    padding: 10px;
    font-size: 20px;
    color: #6bb0b0;
    outline: none
}
.search input{
    font-size: 16px;
    width: 85%;
    border: none;
    padding: 10px;
    outline: none;
    color: #375c5c;
}
.search div{
    font-size: 14px;
    border: none;
    padding: 10px 15px;
    outline: none;
    border-radius: 25px;
    background-color: #6bb0b0;
    color: #fff;
    cursor: pointer;
    border: 1px #6bb0b0 solid;
}
.search div:hover{
    background-color: #fff;
    color: #6bb0b0;
}
.data{
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}
.disease{
    padding: 25px;
    margin: 10px;
    border-bottom: 1px solid #6bb0b0;
}
.disease-title{
    color: #375c5c;
    font-size: 18px;
    position:relative;
}
.disease-title::after{
    color: #ced299;
    content:"";
    display:block;
    width: 0;
    height: 4px;
    background-color: #ced299;
    position:absolute;
    right: 0;
    transition:.4s;
}
.disease-title:hover::after{
    width: 100%;
    left: 0;
}
.disease-description{
    padding: 10px 0;
    color: #404040;
}
.page ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page ul li a{
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #626262;
}
footer{
    width: 100%;
    bottom: 0;
    color: white;
    background-color: rgb(107, 176, 176);
    text-align: center;
    font-size: 12px;
}