.search{
    width: 95%;
    padding: 5px;
    border-radius: 25px;
    border: 1px #6bb0b0 solid ;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search:focus{
    border: #6bb0b0;
    box-shadow: #6bb0b0;
}
.search i{
    padding: 10px;
    font-size: 20px;
    color: #6bb0b0;
    outline: none
}
.search input{
    font-size: 16px;
    width: 90%;
    border: none;
    padding: 10px;
    outline: none;
    color: #375c5c;
}
.search div, .news-insert{
    font-size: 14px;
    border: none;
    padding: 10px 15px;
    outline: none;
    border-radius: 25px;
    background-color: #6bb0b0;
    color: #fff;
    cursor: pointer;
    border: 1px #6bb0b0 solid;
}
.search div:hover{
    background-color: #fff;
    color: #6bb0b0;
}

.class{
    width: 20%;
    background-color: #e5f2f2;
    border-radius:  25px 25px 0 0;
}
.class>p{
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    color: #444444;
    border-radius: 25px 25px 0 0 ;
}
.class ul{
    list-style-type: none;
    text-align: center;
}
.class ul li{
    margin: 5px;
}
.class ul li a{
    color: #6bb0b0;
    background-color: #ffffff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}
.class ul li a:hover, .class ul li a:active{
    border: 1px solid #6bb0b0;
}

.news{
    width: 74%;
    padding: 20px;
    border-radius: 15px;
    background-color: #e6e6e6;
}
.news-title{
    color: 4E6460;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
}
.news-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news-list{
    margin: 20px 0;
}
.news-list table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}
thead tr th:first-child{
    border-top-left-radius: 15px;
}
tfoot tr:last-child td:first-child{
    border-bottom-left-radius: 15px;
}
thead tr th:last-child{
    border-top-right-radius: 15px;
}
tfoot tr:last-child td:last-child{
    border-bottom-right-radius: 15px;
}
.news-list thead{
    color: #fefefe;
    font-weight: bolder;
    background-color: #6bb0b0;
}
.news-list table th, .news-list table td {
    padding: 15px;
}
.news-list table td img{
    width: 100%;
    border-radius: 15px;
}
.news-list table td a{
    border-radius: 15px;
    padding: 10px 20px;
    margin: 5px 0px;
    background-color: #6bb0b0;
    color: #fff;
    border: 1px #6bb0b0 solid;
}
.news-list table td a:hover{
    background-color: #ffffff;
    color: #6bb0b0;
}
.news-list table tr td:first-child{
    width: 11%;
    text-align: center;
}
.news-list table tr td:nth-child(2){
    width: 11%;
    text-align: center;
}  
.news-list table tr td:last-child{
    width: 15%;
    text-align: right;
} 
.news-list table tfoot tr:hover{
    background-color: #fff;
}
.page ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page ul li a{
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #626262;
}
.news-content{
    width: 64%;
    height: 425px;
    padding: 20px;
    border-radius: 15px;
    background-color: #c5dbdb;
}
.chart-container{
    width: 97%;
    margin: auto;
    height: 425px;
    padding: 20px;
    border-radius: 15px;
    border: 1px #6bb0b0 solid;
}
.show {
    display: none;
}
/* 顯示當前頁面 */
.show.active {
    display: block;
}
.metrics{
    width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    text-align: center;
}
.metric{
    font-size: 14px;
    margin: 15px 0;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.metric>h3{
    margin-right: 10px;
    color: #6bb0b0;
}
.explanation{
    margin: 15px 0;
    padding: 15px;
    background-color: #fff;
    border: 1px #6bb0b0 solid;
    border-radius: 15px;
}
.explanation>h3{
    line-height: 20px;
    color: #6bb0b0;
    margin: 5px 0;
}
.explanation>p{
    color: #444444;
}
.explanation ul{
    color: #626262;
    list-style-position: inside;
}