* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Chocolate Classical Sans", "Rubik", sans-serif;
}
h1{
    color: rgb(107, 176, 176);
    font-size: 40px;
    text-align: center;
    margin: 50px 0;
}
header{
    background-color: rgb(107, 176, 176);
    width: 100% - padding;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 25px 25px;
    padding: 0 20px;
}

.header-left{
    width: 10%;
}
.header-left img{
    width: 100%;
}
.header-center{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-center ul{
    list-style-type: none;
    display: flex;
}
.header-center li a{
    width: 100px;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.header-center li a:hover{
    color: #6bb0b0;
    background-color: white;
}
.header-center li a i{
    font-size: 30px;
    padding: 5px;
}
.header-right{
    width: 10%;
    color: rgb(107, 176, 176);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-right p{
    font-size: 18px;
}
.header-right a{
    color: white;
    padding: 10px 15px;
    border: 1px #fff solid;
    border-radius: 15px;
}
.header-right a:hover{
    color: rgb(107, 176, 176);
    background-color: white;
}


.file{
    width: 45%;
    margin-top: 50px;
    padding: 25px;
    border-radius: 25px;
    border: 1px #6bb0b0 solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.file p{
    color: #6bb0b0;
    font-weight: bolder;
    font-size: 30px;
}
.upload{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:flex-start;
}

.upload label{
    margin: 0 5px;
}
input[type="file"] {
    display: none;
}
.content{
    display: flex;
    padding: 0 25px;
    align-items: flex-start;
    justify-content: space-between;
}
.upload-container, .upload input {
    font-size: 16px;
    color: #fff;
    border: 1px #6bb0b0 solid;
    background-color: #6bb0b0;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
}
.upload-container:hover, .upload input:hover {
    color: #6bb0b0;
    background-color: #fff;
}
.upload input{
    background-color: #7f815f;
    border: 1px #7f815f solid;
}
.upload input:hover{
    color: #7f815f;
    background-color: #fff;
}
.result-container{
    width: 100%;
    margin: 25px 0;
    padding: 25px;
    background-color: #6bb0b0;
    color: #fff;
    border-radius: 25px;
}
.preview-container {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    height: 400px;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    border: 2px solid #ddd;
    border-radius: 15px;
}
.result-disease{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.result-disease p{
    margin: 0 15px;
    font-size: 24px;
    color: #fff;
}
.result-description{
    margin: 15px 0;
}

footer{
    width: 100%;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: rgb(107, 176, 176);
    text-align: center;
    font-size: 12px;
}