h1{
    color: rgb(107, 176, 176);
    font-size: 40px;
    text-align: center;
    margin: 50px 0;
}

.chart-container {
    display: flex;
    justify-content: space-around;
    width: 64%;
    height: 425px;
    padding: 20px;
    border-radius: 15px;
    border: 1px #6bb0b0 solid;
}

.bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8%;
    justify-content: flex-end;
}

.bar {
    width: 100%;
    background-color: #6bb0b0;
    text-align: center;
    color: white;
    transition: height 0.5s;
    border-radius: 15px 15px 0 0;
}

.label {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.news, .disease{
    width: 46%;
    height: 425px;
    padding: 20px;
    border-radius: 15px;
    background-color: #e6e6e6;
}
.news-content, .disease-content{
    display: flex;
    align-items: center;
}
.news-title, .disease-title{
    color: 4E6460;
    font-size: 24px;
    text-align: center;
}
.new-type{
    background-color: #6bb0b0;
    color: #fff;
    padding: 3px 10px;
    border-radius: 10px;
}
.news-list, .disease-list{
    padding: 20px;
}
.news-list ul, .disease-list ul{
    list-style-type: none;
}
.news-list li a, .disease-list li a{
    width: 100%-padding;
    color: rgb(107, 176, 176);
    padding: 10px;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news-list li a p:last-child::before, .disease-list li a p:last-child::before{
    content: "";
    margin: 0 15px;
    border-left: 1px #626262 solid;
}
.page ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page ul li a{
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #626262;
}
.chart-container{
    width: 97%;
    margin: auto;
    height: 425px;
    padding: 20px;
    border-radius: 15px;
    border: 1px #6bb0b0 solid;
}
.modal {
    display: none; /* 初始隐藏 */
    position: fixed; /* 固定位置 */
    z-index: 1; /* 置于顶层 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 如果内容超出视窗，则滚动 */
    background-color: rgba(0, 0, 0, 0.4); /* 半透明背景 */
}

/* 模态窗口内容 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% 顶部和底部距离 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 宽度 */
    max-width: 400px; /* 最大宽度 */
    border-radius: 10px; /* 圆角 */
    position: relative; /* 相对定位 */
    animation: modalfadein 0.4s; /* 弹跳动画 */
}

/* 关闭按钮 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: #6bb0b0;
    text-decoration: none;
    cursor: pointer;
}

/* 弹跳动画 */
@keyframes modalfadein {
    from { top: -300px; opacity: 0; }
    to { top: 0; opacity: 1; }
}